h1 {
    color:#1877F2;
}
h2 {

}
.note {
    color:#1877F2;
}

.form_card {

    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    width: 50%;
    min-width: 200px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.find_button {

    background-color:#1877F2;
    color: #fff;
    padding: 0px 10px 0px 10px;

}